---
import CardCrew from '../components/CardCrew.astro'
import Layout from '../layouts/Layout.astro'
import { getCrew } from '../services/spacex'

const crews = await getCrew(1)
---

<Layout title="Tripulación">
	<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 mx-auto">
		{
			crews.map((crew) => (
				<CardCrew
					id={crew.id}
					name={crew.name}
					agency={crew.agency}
					img={crew.image}
					wikipedia={crew.wikipedia}
					status={crew.status}
				/>
			))
		}
	</div>
</Layout>
